*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f9f4ed;
}
.logoin{
    display: inline;
}
#imglogo{
    width: 80px;   
    border-radius: 30px;
}
.navlist{
    display: inline;
    font-size: 12px;
    padding: 7px;
    color: aliceblue;
    
}
.navlist:hover{
    color: antiquewhite;
}
.logo{
    padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#0f212c;
  /* height: 20px; */
  /* border-radius: 30px; */
}

/* login  */


.login{
    text-align: center;
    padding: 30px;
    top: 120px;
    position:relative ;
    border: 2px solid black;
    display:inline-block;
    left: 40%;
    border-radius: 19px;
    /* height: 230px; */
    background-color:#f3f2ec;
}
.np{
    margin-top:16px ;
    font-size: small;
}

.np > input{
    padding: 1px;
    position: relative;
    left: 16px;


}
input[type="password"]{
    margin-bottom:10px ;
}
#imgdog{
    position: absolute;
    width: 219px;
    right: 61px;
    top: 48px;
}
#imgdog2{
        position: absolute;
    width: 243px;
    left: 44px;
    top: 201px;
}
#headinglogin{
    margin-bottom: 40px;
}

#buttonl{
    padding: 2px 20px;
    margin-bottom:20px ;
    margin-top: 15px;
    border-radius: 30px;
    border-color:rgb(214,207,230);
    background-color:rgb(214,207,230);
  
}
#buttontext{
    text-decoration: none;
    color: black;
}


#signup {
    font-size: 10px;
    padding-top: 10px;
    padding-left: 59px;
    position: absolute;
}
#lname{
    padding-right: 50px;
}
#lphone{
    right: 29px;
    position: relative;
}
#lemail{
right: 14px;
    position: relative
}
#lpass{
/* margin-right: 22px; */
right: 14px;
    position: relative
}
#lcpass{
right: 14px;
    position: relative;
    /* margin-right: 12px; */
}
#lphone{
  
}


#cp{
    margin: 0px;
}

#name{
    margin-right: 12px;
}
#email{
    margin-left: 36px;

}
#password{
    margin-left: 18px;

}
#confirmpassword{
    left: 1px;
    position:relative;
}
#phone{
margin-left: -12px;

}